{{ define "main" }}
  <div class="post-layout">
    <aside class="toc-column toc-desktop">
      {{ with .Prev }}
            <a class="text-[#999999] text-sm mb-4 pb-4" href="{{ .RelPermalink }}">← Main Page</a>
      {{ end }}
      <div class="toc-box toc-sticky">
        
        <h3 class="toc-title">Table of Contents</h3>
        {{ .TableOfContents }}
      </div>
    </aside>

    <article class="card post-content">
      <h1 class="text-4xl font-bold mb-4">{{ .Title }}</h1>
      <h4 class="text-[#999999] text-sm mb-2">{{ printf "Estimated reading time: %d minutes" .ReadingTime }}</h4>
      <p class="text-[#999999] text-sm mb-2">{{ .Date.Format "Jan 2, 2006" }}</p>
      <h4 class="text-[#999999] text-sm mb-2">
        Keywords:
          {{ range .Keywords }}
          {{ . }}
        {{ end }}
      </h4>
      <details class="toc-mobile toc-box">
        <summary class="toc-title">Table of Contents</summary>
        {{ .TableOfContents }}
      </details>

      <div class="text-[#cccccc] leading-relaxed space-y-6">
        {{ .Content }}
      </div>
    </article>
  </div>
{{ end }}
